* {
    color: #484848;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    margin: 0;
}

main {
    padding: 1rem;
}

.overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 88vh;
}

.temperature {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1.5fr 1fr;
    gap: 1rem;
    height: 90vh;
}

.flow_pump {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1.5fr 1fr;
    gap: 1rem;
    height: 90vh;
}